<h2 align="center">Here links to homework</h2>
  <div>
	<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfAY3RRK0iEFPGfGPA6HQVv10J2gXNvw2sCyE6fbOBBePQkig/viewform">RoR GH 20/21 Homework 6</a></p> 	
	<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfc8Ecox_tOKLJneaHfDptW-j4Sgi-CM0MieQbwgd_38GS8Ng/viewform">RoR GH 20/21 Homework 7</a></p>
	<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScfM-xc6adrEKdE9oerKrTGG6W1ZDr-ZUct6OIIo1ZBzzsWEg/viewform">RoR GH 20/21 Homework 8</a></p>
	<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfLfSGmYsCWnlVMqbfz21z-OGnxWkKVMVtX1jcngxufOgJsYg/viewform">RoR GH 20/21 Homework 9</a></p>
  </div>