<h2 align="center">Example cv</h2>
<div class="cv-wrapper">
  <div class="cv">
    <div class="header">
      <div class="info">
        <div class="main">
          <h1 class="name">Enter your: Name, Surname</h1>
          <h2 class="position">Please enter your: Position</h2>
        </div>
           <div class="contacts">
            <p class="contacts-item"><i class="far fa-envelope"></i> Enter your: Mail</p>
            <p class="contacts-item"><i class="fas fa-phone"></i> Enter your: Phone</p>
            <p class="contacts-item"><i class="fas fa-map-marker-alt"></i> Enter your: Location</p>
           </div>
            </div>
             <div class="photo-wrapper">
              <img src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt="Photo" class="photo">
             </div>
</div>

  
<div class="footer">

  <div class="section">
    <h3>Section of your Education</h3>
    <ul class="section-list">
    <li>Enter your: Education Period from ____ to ____</li>
    <li>Enter your: Education Period from ____ to ____</li>
    <li>Enter your: Education Period from ____ to ____</li>
    </ul>
  </div>

  <div class="section">
    <h3>Section of your skills</h3>
    <ul class="section-list">
    <li>Enter your: Skills</li>
    <li>Enter your: Skills</li>
    <li>Enter your: Skills</li>
    </ul>
  </div>

  <div class="section">
    <h3>Section of your experience</h3>
    <ul class="section-list">
    <li>Enter your: Experience Period from ____ to ____</li>
    <li>Enter your: Experience Period from ____ to ____</li>
    <li>Enter your: Experience Period from ____ to ____</li>
    </ul>
  </div>

  <div class="section">
    <h3>Section Favorite free time activity</h3>
    <ul class="section-list">
    <li>Enter your: Favorite free time activity</li>
    </ul>
  </div>

    </div>
  </div>
</div>
